# Salin file ini menjadi ".env" lalu sesuaikan nilainya

PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gerbang_awakening

# Ganti dengan string acak yang panjang & rahasia (jangan dibagikan / jangan commit ke git)
JWT_SECRET=ganti_dengan_rahasia_yang_sangat_panjang_dan_acak
